.experience-container {
  padding: 20px; // Espaciado interno
  display: flex;
  flex-direction: column;
  gap: 20px; // Espacio entre las cards

  h2 {
    text-align: center; // Centra el título
    font-size: 24px; // Tamaño del título
    margin-bottom: 20px; // Espacio debajo del título
    color: #333; // Color del texto
  }

  .experience-card {
    max-width: 1000px;
    margin: 20px auto;
    width: 90%;
    opacity: 0; // Inicialmente invisible
    transform: translateY(20px); // Desplazamiento inicial
    transition: opacity 0.6s ease-out, transform 0.6s ease-out, box-shadow 0.3s ease; // Transición suave
    background-color: transparent; // Sin color de fondo
    border: none; // Sin bordes
    border-radius: 8px; // Bordes redondeados

    &.visible {
      opacity: 1; // Visible
      transform: translateY(0); // Sin desplazamiento
    }

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra más pronunciada al hacer hover
      transform: translateY(-5px); // Eleva la card ligeramente
    }

    .card-content {
      display: flex; // Usar flexbox para dividir en dos columnas
      gap: 20px; // Espacio entre las columnas
    }

    .left-column {
      flex: 1; // Ocupa 1 parte del espacio
      text-align: center; // Alinea el texto a la derecha
      border-right: 2px solid rgb(194, 24, 91); // Línea divisoria
      padding-right: 20px; // Espacio a la derecha
      display: flex;
      flex-direction: column;
      justify-content: center; // Centra verticalmente el contenido
    }

    .duration {
      font-size: 14px; // Tamaño de la duración
      color: #777; // Color gris
      margin: 0; // Elimina el margen por defecto
      line-height: 1.5; // Espaciado entre líneas
      text-align: center; // Alinea el texto a la derecha
    }
    
    .month {
      text-transform: uppercase; // Convierte el texto a mayúsculas
    }
    
    .year {
      font-weight: normal; // Año en texto normal
    }
    
    .separator {
      margin: 0 5px; // Espacio alrededor del separador
    }

    .right-column {
      flex: 3; // Ocupa 3 partes del espacio
      padding-left: 20px; // Espacio a la izquierda
    }

    h3 {
      font-size: 20px; // Tamaño del título de la experiencia
      color: rgb(194, 24, 91); // Color azul
      margin-bottom: 10px; // Espacio debajo del título
    }

    .company {
      font-size: 16px; // Tamaño del nombre de la empresa
      color: #555; // Color gris oscuro
      margin-bottom: 5px; // Espacio debajo del nombre de la empresa
    }

    .duration {
      font-size: 14px; // Tamaño de la duración
      color: #777; // Color gris
      margin-bottom: 10px; // Espacio debajo de la duración
    }

    .description {
      font-size: 14px; // Tamaño de la descripción
      color: #555; // Color gris oscuro
    }
  }
}