<div class="experience-container">
    <!-- Experiencia 1 -->
    <h2>Experiencia Laboral</h2>
    <mat-card class="experience-card mat-elevation-z4" @fadeIn>
      <mat-card-content class="card-content">
        <!-- Columna izquierda: Fecha -->
        <div class="left-column">
          <h3 class="month">AGOSTO</h3> <!-- Mes abreviado -->
          <h3 class="year">2024</h3> <!-- Año -->
          <h3 class="separator">-</h3> <!-- Separador -->
          <h3 class="month">PRESENTE</h3> <!-- Mes actual o "PRESENT" -->
        </div>
        <!-- Columna derecha: Descripción -->
        <div class="right-column">
          <h3>{{desarrolladorBackend}}</h3>
          <h4 class="company">{{empresaNovatium}}</h4>
          <p class="description">{{detalleNovatium}}</p>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Experiencia 2 -->
    <mat-card class="experience-card mat-elevation-z4" @fadeIn>
      <mat-card-content class="card-content">
        <!-- Columna izquierda: Fecha -->
        <div class="left-column">
          <h3 class="month">SEPTIEMBRE</h3> <!-- Mes abreviado -->
          <h3 class="year">2022</h3> <!-- Año -->
          <h3 class="separator">-</h3> <!-- Separador -->
          <h3 class="month">AGOSTO</h3>
          <h3 class="year">2024</h3> <!-- Mes actual o "PRESENT" -->
        </div>
        <!-- Columna derecha: Descripción -->
        <div class="right-column">
          <h3>{{analistaDesarrolladorDeSoftware}}</h3>
          <h4 class="company">{{empresaMegatone}}</h4>
          <p class="description">{{detalleMegatone}}</p>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Experiencia 3 -->
    <mat-card class="experience-card mat-elevation-z4" @fadeIn>
      <mat-card-content class="card-content">
        <!-- Columna izquierda: Fecha -->
        <div class="left-column">
          <h3 class="month">SEPTIEMBRE</h3> <!-- Mes abreviado -->
          <h3 class="year">2021</h3> <!-- Año -->
          <h3 class="separator">-</h3> <!-- Separador -->
          <h3 class="month">septiembre</h3>
          <h3 class="year">2022</h3> <!-- Mes actual o "PRESENT" -->
        </div>
        <!-- Columna derecha: Descripción -->
        <div class="right-column">
          <h3>{{desarrolladorFullStack}}</h3>
          <h4 class="company">{{empresaADC}}</h4>
          <p class="description">{{detalleADC}}</p>
        </div>
      </mat-card-content>
    </mat-card>
</div>