<div class="skill-container">
  <h2>Habilidades</h2>
  <mat-card class="skills-card mat-elevation-z4">
    <mat-card-content>
      <div class="skills-container">
        <!-- Java -->
        <div class="skill-item">
          <span class="skill-name">Java</span>
          <mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar>
          <span class="skill-percentage">80%</span>
        </div>
  
        <!-- TypeScript -->
        <div class="skill-item">
          <span class="skill-name">TypeScript</span>
          <mat-progress-bar mode="determinate" value="70" color="primary"></mat-progress-bar>
          <span class="skill-percentage">70%</span>
        </div>
  
        <!-- SQL -->
        <div class="skill-item">
          <span class="skill-name">SQL</span>
          <mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar>
          <span class="skill-percentage">80%</span>
        </div>
  
        <!-- Spring Boot -->
        <div class="skill-item">
          <span class="skill-name">Spring Boot</span>
          <mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar>
          <span class="skill-percentage">80%</span>
        </div>
  
        <!-- C# -->
        <div class="skill-item">
          <span class="skill-name">C#</span>
          <mat-progress-bar mode="determinate" value="70" color="primary"></mat-progress-bar>
          <span class="skill-percentage">70%</span>
        </div>
  
        <!-- Testing (JUnit, Mockito) -->
        <div class="skill-item">
          <span class="skill-name">Testing (JUnit, Mockito)</span>
          <mat-progress-bar mode="determinate" value="70" color="primary"></mat-progress-bar>
          <span class="skill-percentage">70%</span>
        </div>
  
        <!-- Angular -->
        <div class="skill-item">
          <span class="skill-name">Angular</span>
          <mat-progress-bar mode="determinate" value="70" color="primary"></mat-progress-bar>
          <span class="skill-percentage">70%</span>
        </div>
  
        <!-- Spring -->
        <div class="skill-item">
          <span class="skill-name">Spring</span>
          <mat-progress-bar mode="determinate" value="80" color="primary"></mat-progress-bar>
          <span class="skill-percentage">80%</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>