<mat-card class="mat-elevation-z8">
  <mat-card-content class="about-container">
      <div class="about-section">
        <h2>Sobre mí</h2>
        <p>{{about}}</p>
      </div>
  
      <div class="about-section">
        <h2>Datos Personales</h2>
        <p><strong>EDAD: </strong>{{edad}}</p>
        <p><strong>EMAIL: </strong>{{email}}</p>
        <p><strong>TELÉFONO: </strong>{{telefono}}</p>
        <p><strong>CIUDAD: </strong>{{ubicacion}}</p>
        <p><strong>IDIOMAS: </strong>{{idiomas}}</p>
      </div>
  </mat-card-content>
</mat-card>
