mat-card {
  max-width: 1000px; // Aumenta el ancho del mat-card
  margin: 20px auto;
  padding: 30px; // Aumenta el padding interno
  text-align: left;
  width: 90%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra inicial
  border-radius: 10px; // Bordes redondeados
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Transición suave

  &:hover {
      transform: scale(1.02); // Aumenta ligeramente el tamaño
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Sombra más pronunciada
  }
}

.about-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between; // Separa las columnas
  gap: 40px; // Aumenta el espacio entre columnas

  .about-section {
      flex: 1; // Asegura que ambas secciones ocupen el mismo espacio
      padding: 10px; // Espaciado interno para cada sección

      h4 {
          margin-bottom: 15px; // Aumenta el espacio debajo del título
          font-weight: 700;
          font-size: 24px;
          color: #333; // Color del título (opcional)
      }

      p {
          margin-bottom: 10px; // Espaciado entre párrafos
          font-size: 16px; // Tamaño de fuente del texto
          color: #555; // Color del texto (opcional)
          line-height: 1.6; // Altura de línea para mejor legibilidad
      }

      strong {
          color: #000; // Color para el texto en negrita
      }
  }
}