<mat-card>
    <mat-card-title>Contacto</mat-card-title>
    <mat-card-content>
      <p>Si quieres ponerte en contacto conmigo, completa el siguiente formulario:</p>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Tu nombre">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="tuemail@example.com">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mensaje</mat-label>
        <textarea matInput rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Enviar</button>
    </mat-card-content>
</mat-card>
  
